@charset "UTF-8";
/*色の設定*/ /*レスポンシブル*/
#header, .site-header {
  position: fixed; /*追従ナビのためpositionをfixedにする*/
  top: 0; /*ポジション設定topを0*/
  height: 80px; /*headerの高さを指定*/
  width: 100%; /*position:fixed;にしたため、横幅100%を設定*/
  z-index: 999;
  transition: 0.5s;
}
#header .header-inner .logo-navi-wrapper-pc, .site-header .header-inner .logo-navi-wrapper-pc {
  display: none;
}
@media (min-width: 64.375rem) {
  #header .header-inner .logo-navi-wrapper-pc, .site-header .header-inner .logo-navi-wrapper-pc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}
#header .header-inner .logo-navi-wrapper-pc .logo-img .site-title img, .site-header .header-inner .logo-navi-wrapper-pc .logo-img .site-title img {
  width: 200px;
  height: 54px;
}
#header .header-inner .logo-navi-wrapper-pc .navi-pc ul, .site-header .header-inner .logo-navi-wrapper-pc .navi-pc ul {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  align-items: center;
}
#header .header-inner .logo-navi-wrapper-pc .navi-pc ul li, .site-header .header-inner .logo-navi-wrapper-pc .navi-pc ul li {
  font-size: 1rem;
  font-weight: bold;
}
#header .header-inner .logo-navi-wrapper-pc .navi-pc ul li a, .site-header .header-inner .logo-navi-wrapper-pc .navi-pc ul li a {
  position: relative;
}
#header .header-inner .logo-navi-wrapper-pc .navi-pc ul li a:hover, .site-header .header-inner .logo-navi-wrapper-pc .navi-pc ul li a:hover {
  color: #66A17D;
}
#header .header-inner .logo-navi-wrapper-pc .navi-pc ul li a:hover::after, .site-header .header-inner .logo-navi-wrapper-pc .navi-pc ul li a:hover::after {
  transform: scale(1, 1); /*X方向にスケール拡大*/
}
#header .header-inner .logo-navi-wrapper-pc .navi-pc ul li a:after, .site-header .header-inner .logo-navi-wrapper-pc .navi-pc ul li a:after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: 0;
  left: 10%;
  /*線になる丸の形状*/
  width: 80%;
  height: 2px;
  background: #66A17D;
  /*アニメーションの指定*/
  transition: all 0.3s;
  transform: scale(0, 1); /*X方向0、Y方向1*/
  transform-origin: center top; /*上部中央基点*/
}
#header .header-inner .logo-navi-wrapper-pc .navi-pc ul li .current a, .site-header .header-inner .logo-navi-wrapper-pc .navi-pc ul li .current a {
  color: #0481A2;
}
#header .header-inner .logo-navi-wrapper-pc .navi-pc ul li .current a::after, .site-header .header-inner .logo-navi-wrapper-pc .navi-pc ul li .current a::after {
  transform: scale(1, 1); /*X方向にスケール拡大*/
}
#header .header-inner .logo-navi-wrapper-sp, .site-header .header-inner .logo-navi-wrapper-sp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
@media (min-width: 64.375rem) {
  #header .header-inner .logo-navi-wrapper-sp, .site-header .header-inner .logo-navi-wrapper-sp {
    display: none;
  }
}
#header .header-inner .logo-navi-wrapper-sp .logo-img .site-title img, .site-header .header-inner .logo-navi-wrapper-sp .logo-img .site-title img {
  width: 200px;
  height: 54px;
}

.site-header, #header.hide {
  top: -80px;
}