@use "variable" as v;
@use "mixin" as m;

.contact-wrapper{
  padding: 10px;
  text-align: center;
  .heading06 {
    position: relative;
    font-size: 1.2rem;
    text-align: center;
    @include m.breakpoint(tablet){
      padding-top: 50px;
      font-size: 1.5625rem;
    }
    &::before{
      content: attr(data-en);
      position: absolute;
      top: -40px;
      left: 50%;
      transform: translateX(-50%);
      color: rgba(21, 107, 47, 0.2);
      font-size: 3rem;
      font-style: italic;
      @include m.breakpoint(tablet){
        font-size: 5rem;
        top: -20px;
      }
    }
  }
  p{
    text-align: left;
    @include m.breakpoint(tablet){
      text-align: left;
    }
  }
  .contact-form{
    text-align: center;
		margin: 0 auto;
    @include m.breakpoint(ipad-pro){
      padding: 30px;
			width: 70%;
    }
    form{
      @include m.breakpoint(tablet){
        padding: 0 30px 0 30px;
      }
      input[type=text] {
        width: 95%;
				padding: 5px 10px;
				font-size: medium;
				border: none;
				border-radius: 3px;
				background: #ddf0ff;
      }
      .property{
        width: 100%;
				padding: 5px 10px;
				font-size: medium;
				border: none;
				border-radius: 3px;
				background: #fff!important;
      }
      input[name=btn_confirm],
			input[name=btn_submit],
			input[name=btn_back] {
        margin-top: 10px;
				padding: 5px 20px;
				font-size: .8rem;
				color: #fff;
				cursor: pointer;
				border: none;
				border-radius: 3px;
				box-shadow: 0 3px 0 #2887d1;
				background: #4eaaf1;
      }
      input[name=btn_back] {
        margin-right: 20px;
				box-shadow: 0 3px 0 #777;
				background: #999;
      }
      .dammy{
        display: none;
      }
      .element_wrap {
        margin-bottom: 10px;
				padding: 10px 0;
				border-bottom: 1px solid #ccc;
				text-align: left;
				font-size: .8rem;
        label {
          display: block;
					margin-bottom: 10px;
					font-weight: bold;
					width: 100%;
          .required {
            color: red;
            font-size: 86%;
            margin-top: 10px;
            font-weight: normal !important;
          }
          a{
            &:hover{
              color: red;
            }
          }
        }
        p{
          display: block;
					margin:  0;
					text-align: left;
					font-size: .8rem;
        }
        span{
          display: block;
        }
        .required{
          display: inline;
					margin-left: 10px;
					color: red;
					font-size: .7rem;
        }
        select[name=select]{
          padding: 5px;
        }
        textarea[name=contact] {
          padding: 5px 10px;
					width: 95%;
					height: 100px;
					font-size: medium;
					border: none;
					border-radius: 3px;
					background: #ddf0ff;
        }
      }
      .form-text{
        text-align: center;
        p{
          display: block;
          margin: 0 auto;
          width: 100%;
          text-align: left;
          font-size: .8rem;
          margin: 10px 0 20px 0;
          @include m.breakpoint(tablet){
            font-size: 1rem;
            margin: 10px 0 20px 0;
          }
          @include m.breakpoint(pc){
            font-size: 1rem;
            margin: 0px 0 20px 0;
          }
        }
      }
      .form-check{
        display: block;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
      }
    }
    .error_list {
      width: 100%;
      margin: 20px auto;
      padding: 10px 30px;
			color: #ff2e5a;
			font-size: .8rem;
			text-align: left;
			border: 1px solid #ff2e5a;
			border-radius: 5px;
      @include m.breakpoint(tablet){
        width: 90%;
        font-size: 1rem;
      }
    }
    .done_text {
      margin-top: 2em;
      margin-bottom: 4em;
      text-align: center;
      font-size: 1rem;
      line-height: 30px;
    }
  }
}