@use "variable" as v;
@use "mixin" as m;

#part1{
  margin-top: 60px;
  .news-wrapper{
    padding: 5px;
    h2{
      display: block;
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
      @include m.breakpoint(ipad-pro){
        font-size: 2rem;
      }
      .subtitle{
        display: block;
        font-size: 1.3rem;
        font-weight: bold;
        color: #66A17D;
        @include m.breakpoint(ipad-pro){
          font-size: 1.75rem;
        }
      }
    }
    .info-posts{
      border: 1px solid #66A17D;
      padding: 10px 10px 10px 10px;
      background-color: #fff;
      margin-top: 30px;
      @include m.breakpoint(tablet){
        padding: 10px 150px 10px 150px;
      }
      @include m.breakpoint(ipad-pro){
        padding: 10px 250px 10px 250px;
      }
      .entry-header-news{
        a{
          &:hover{
            opacity: 0.5;
          }
          .news_date{
            display: inline;
            font-size: .8rem;
            @include m.breakpoint(ipad-pro){
              font-size: 1rem;
            }
          }
          .news_title{
            display: inline;
            padding-left: 20px;
            font-size: .8rem;
            @include m.breakpoint(ipad-pro){
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}