@use "variable" as v;
@use "mixin" as m;

#part2{
  margin-top: 100px;
  .profile-wrapper-pc{
    display: none;
    @include m.breakpoint(ipad-pro){
      display: block;
    }
    h2{
      display: block;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      .subtitle{
        display: block;
        font-size: 1.75rem;
        font-weight: bold;
        color: #66A17D;
      }
    }
    .pro-content{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      .pro-text{
        width: 50%;
        border: 1px solid #ebebeb;
        background-color: #fff;
        position: relative;
        left: 50px;
        z-index: 2;
        padding: 30px;
        h3{
          font-size: 1.5rem;
          border-bottom: 1px solid #66A17D;
        }
        .detail-pro{
          p{
            position: relative;
            font-size: 1.2rem;
            padding-top: 10px;
            font-weight: bold;
            &::after{
              content: "|";
              padding: 0 20px 0px 20px;
              position: absolute;
              left: 45px;
            }
            span{
              margin-left: 20px;
            }
          }
        }
        .detail-history{
          margin-top: 20px;
        }
      }
      .pro-img{
        width: 50%;
        position: relative;
        right: 50px;
      }
    }
    .insta-content{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 100px;
      .insta-img{
        width: 50%;
        position: relative;
        left: 50px;
      }
      .insta-text{
        width: 50%;
        border: 1px solid #ebebeb;
        background-color: #fff;
        position: relative;
        right: 50px;
        z-index: 2;
        padding: 30px;
        h3{
          font-size: 1.5rem;
          border-bottom: 1px solid #66A17D;
        }
        p{
          margin-bottom: 20px;
        }
        .insta-detail{
          padding-top: 10px;
        }
      }
    }
  }
  .profile-wrapper-sp{
    display: block;
    @include m.breakpoint(ipad-pro){
      display: none;
    }
    h2{
      display: block;
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
      .subtitle{
        display: block;
        font-size: 1.3rem;
        font-weight: bold;
        color: #66A17D;
      }
    }
    .pro-content{
      display: block;
      width: 100%;
      text-align: center;
      margin-top: 30px;
      .pro-text{
        max-width: 540px;
        margin: 0 auto;
        background: #fff;
        border: 1px solid #ebebeb;
        h3{
          font-size: 1.2rem;
          border-bottom: 1px solid #66A17D;
          text-align: left;
          padding: 5px;
          padding-left: 20px;
        }
        .detail-pro{
          text-align: left;
          p{
            position: relative;
            font-size: 1.2rem;
            padding-top: 10px;
            padding-left: 20px;
            font-weight: bold;
            span{
              margin-left: 20px;
            }
          }
        }
        .detail-history{
          text-align: left;
          padding-top: 10px;
          padding-left: 15px;
          h4{
            position: relative;
            padding: 5px;
            padding-bottom: 0px;
            text-align: left;
            &::before{
              position: absolute;
              bottom: 0px;
              width: 30px;
              height: 2px;
              content: '';
              border-radius: 3px;
              background: #000;
            }
          }
          p{
            padding: 10px;
          }
        }
      }
    }
    .insta-content{
      display: block;
      width: 100%;
      text-align: center;
      margin-top: 100px;
      .insta-text{
        max-width: 540px;
        margin: 0 auto;
        background: #fff;
        border: 1px solid #ebebeb;
        h3{
          font-size: 1.2rem;
          border-bottom: 1px solid #66A17D;
          text-align: left;
          padding: 5px;
          padding-left: 20px;
        }
        .insta-detail{
          text-align: left;
          p{
            font-size: 1rem;
            padding: 20px;
          }
          .btn-wrap{
            padding-bottom: 20px;
            text-align: center;
          }
        }
      }
    }
  }
}